python-telegram-bot==20.6
redis==5.3.0
requests==2.31.0
python-dotenv==1.0.0
Flask==3.0.3

# For HTML -> PDF rendering with headless Chromium
pyppeteer==1.0.2
# For markdown -> html conversion
Markdown==3.5.2
# Simple HTML templating
Jinja2==3.1.2
